@model PinGames.Models.GameToUpload
@{ 
    ViewData["Title"] = "Add Game";
}

@{ 
    var genres = ViewData["genres"] as List<GenreModel>;
}
<h2 class="text-center">Add Game to Database</h2>
<div class="text-center p-5">
    <form  method="post" action="AddGame" enctype="multipart/form-data">
        <input type="text" hidden name="id" value="@Model.Id"\>
        <p><input type="text" class="w-50" id="name" name="name" placeholder="Game Name" value="@Model.Name" /></p>
        <p>
            <select name="genreId"  class="w-50" value="@Model.GenreId">
                @foreach (var item in genres)
                {
                    <option value="@item.Id">@item.GenreName</option>
                }
            </select>
        </p>
        <p><textarea rows="10" class="w-50" style="resize:none" id="about" name="about" placeholder="About Game" />@Model.About</textarea></p>
        <p><input name="GameImg" type="file" accept="image/*" /></p>
        <input class="btn btn-info btn-primary" type="submit" value="Submit" />
    </form>
</div>