@model X.PagedList.IPagedList<GameModel>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Game List";
}
<h1>Library</h1>
<div>
    @{
        var gameLibrary = ViewData["gameLibrary"] as List<GameLibraryModel>;
        var session = Context.Request.Cookies["UserLoginCookie"];
        var genres = ViewData["Genres"] as List<GenreModel>;
     }
    <form method="get" action="Library" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Search" />
        <label for="genres">Choose a genre</label>
        <select id="genres" name="genre">
            <option value="">-</option>
            @foreach (var item in genres)
            {
                <option value="@item.Id">@item.GenreName</option>
            }
        </select>
        <button type="submit" class="btn-sm btn-dark">Confirm</button>

    </form>
    <table class="table">
        <tr class="">
            <td><h5>Cover</h5></td>
            <td><h5>Name</h5></td>
            <td><h5>Genre</h5></td>
            <td><h5>About</h5></td>
            <td></td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><img src="~/img/Game/@item.GameImg" class="w-50 h-50"> </td>
                <td><b><a class="" asp-controller="Profile" asp-action="Game" asp-route-gameId="@item.Id"><u>@item.Name</u></a></b></td>
                <td>@item.Genre.GenreName</td>
                @if(@item.About.Length >= 200)
                {
                    <td>@item.About.Substring(0, 200)</td>
                }
                else
                {
                    <td>@item.About</td>
                }
                @if (session != null)
                {
                    <td><a type="button" class="btn btn-success text-center" style="border-radius:20%;" asp-area="" asp-controller="library" asp-action="GameToLibrary" asp-route-gameId="@item.Id"> <i class="fa fa-save"></i> </a></td>
                    @if(Context.User.IsInRole("Admin"))
                    {
                        <td><a type="button" class="btn text-center icon-edit" style="border-radius:20%; background-color: #e8c301;" asp-area="" asp-controller="library" asp-action="AddGame" asp-route-gameId="@item.Id"><i class='far fa-edit'></i></a></td>
                        <td><a type="button" class="btn btn-danger text-center icon-edit" style="border-radius:20%;" asp-area="" asp-controller="library" asp-action="DeleteGame" asp-route-gameId="@item.Id"><i class='far fa-trash-alt'></i></a></td>
                    }
                }
            </tr>
        }

    </table>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, name = ViewContext.HttpContext.Request.Query["name"], genre = ViewContext.HttpContext.Request.Query["genre"]}) )
</div>