@using PinGames.Data
@using PinGames.Models

@{
    ViewData["Title"] = "Game";
}

<div class="position-relative">
    @{ var game = ViewData["game"] as GameViewModel;}

    <table>
        <tr>
            <td style="width:30%">
                <img class="img-frame img-thumbnail" style="border-radius: 50%" src="~/img/Game/@game.GameImg" />
            </td>
            <td>
                <h4> @game.GameName</h4>
                <h5 class="p-1">@game.GenreName</h5>
                <p class="p-1">@game.GameAbout</p>
            </td>
        </tr>
        <tr>
            @if (Context.Session.GetString("LoginSession") != null)
            {
                <td><a class="btn btn-success" style="border-radius:45%" asp-area="" asp-controller="library" asp-action="GameToLibrary" asp-route-gameId="@game.GameId">&#43</a></td>
            }
        </tr>
    </table>

    <table class="col-12">
        <tr class="border-bottom">
            <td class="col-1"><h5>User</h5></td>
            <td><h5>Review</h5></td>
        </tr>
        @foreach(var item in game.Review)
            {
               <tr class="border-bottom">
                   <td class="col-1">@item.userName</td>
                   <td>@item.review</td>
               </tr>
            }
    </table>

</div>