@model PinGames.Models.ProfileInfoModel
@{
    var user = ViewData["userInfo"] as UserAccountModel;
}

<div class="text-center">
    <img src="~/img/Profile/@user.ImageName" class="img-frame img-thumbnail w-25 align-content-lg-start p-2" style="border-radius: 50%" alt="profile" />
    <form class="" method="post" action="ProfileInfo" enctype="multipart/form-data">
        <p>Login: <input type="text" placeholder="Nickname" name="userName" value="@user.UserName" /></p>
        <p>Email: <input type="email" placeholder="email" name="email" value="@user.Email" /></p>
        @*<td><input type="password" placeholder="" value="@user.Email" /></td>
            <td><input type="password" placeholder="" value="@user.Email" /></td>*@
        About:<p><textarea cols="50" rows="20" style="resize:none" name="about">@user.About</textarea></p>
        <input type="file" name="profilePicture" accept="image/*" />
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
</div>
